<h1>Vad är det för org-nr?</h1>
<%= form_tag "/search/index" do %>
  <%= text_field_tag "query" %>
  <%= submit_tag "Search" %>
<% end %>
<% if @result %>
  
  <p><%= @result[:name] %>:<%= @result[:orgnr] %></p>
<% end %>
